<!DOCTYPE html>
<html>
  <head>
    <title>Scotteknight</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= link_to "Scott E. Knight", root_path %> -
      <%= link_to "About", about_path %> -
      <%= link_to "New post", new_post_path %>
    </header>

    <%= yield %>

  </body>
</html>
